.header {
    position: absolute;
    width: 100%;
    &__container {
        padding: 7vh 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__inner {
        flex: 1 0 0;
        &:not(:first-child):not(:last-child) {
            text-align: center;
        }
        &:last-child {
            text-align: right;
        }
    }
    &__nav-btn {
        height: 19px;
        width: 19px;
        margin-left: 5px;
        padding: 0;
        border: none;
        background-color: transparent;
        background-image: url("../../img/menu-icon.png");
        background-repeat: no-repeat;
        font-size: 0;
        cursor: pointer;
    }
    &__logo {
        display: inline-block;
        vertical-align: top;
        margin: 0 auto;
        font-family: $font-family-bold;
        font-weight: normal;
        font-size: 30px;
        text-transform: lowercase;
        &::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 43px;
            height: 43px;
            margin-right: 10px;
            margin-bottom: 4px;
            background-image: url("../../img/fingerprint.png");
            background-repeat: no-repeat;
        }
    }
    &__socials {
        margin-bottom: 10px;
    }
}
